/* profile.css */

/* Increase size of first row */
.profile-header {
    padding: 2rem; /* Increase padding */
    margin-bottom: 2rem; /* Increase margin bottom */
  }
  
  .profile-picture {
    width: 120px; /* Increase profile picture size */
    height: 120px; /* Increase profile picture size */
  }
  
  .profile-info {
    margin-left: 2rem; /* Add margin to user information */
  }
  
  .profile-card {
    background-color: rgba(4, 46, 83, 0.3);
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
  }
  
  /* Add hover effect */
  .profile-card:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Change background color on hover */
  }
  
  .profile-card p {
    margin: 0;
  }
  